outputs/fits/local/nih_2024_inf/prior1/fit_prior_h3.RDS[[:space:]]outputs/fits/local/nih_2024_inf/prior1/pp_h3.RDS[[:space:]]outputs/fits/local/nih_2024_inf/prior1/pp_prior_h3.RDS[[:space:]]outputs/fits/local/nih_2024_inf/prior2/pp_prior_h3.RDS filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/NAMESPACE filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.RData filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.Rhistory filter=lfs diff=lfs merge=lfs -text
/info filter=lfs diff=lfs merge=lfs -text
*.Rd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
*.aux filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bbl filter=lfs diff=lfs merge=lfs -text
*.blg filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bib filter=lfs diff=lfs merge=lfs -text
*.RDS filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/src/Makevars filter=lfs diff=lfs merge=lfs -text
*.win filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.Rmd filter=lfs diff=lfs merge=lfs -text
