outputs/fits/*

# Except for the simulate_data directory
!outputs/fits/simulated_data/

# Ensure the contents of simulate_data are tracked
!outputs/fits/simulated_data/*

outputs/prior_pred
methods/
outputs/test
hpc/
data/
old/
/src/rjmc_func.o
/src/serojump.so
/src/RcppExports.o