outputs/*
vignettes/working/*
# Except for the simulate_data directory
!outputs/fits/simulated_data/

R/manu/*
R/old/*

scp/

outputs/prior_pred
methods/
outputs/test
hpc/
data/
old/
/src/rjmc_func.o
/src/serojump.so
/src/RcppExports.o.DS_Store
